body, html, #root {
  height: 100%;
  margin: 0;
  background-image: 'url(images/background.png)'; 
  background-size: cover;
  background-position: center;
  background-attachment: fixed; /* Keep the background fixed while scrolling */
}

#root {
  display: flex;
  flex-direction: column;
}

main {
  flex: 1;
  display: flex;
  flex-direction: column; /* Adjust this to fit your content layout */
}

.product-card {
  margin: 1rem;
  padding: 1rem;
  border: 1px solid #ddd;
  border-radius: 8px;
  width: 200px;
  text-align: center;
  background: rgba(255, 255, 255, 0.8); /* Slightly transparent background for the card for better readability */
}

nav, footer {
  padding: 1rem;
  color: white;
  text-align: center;
}
