body, html {
  height: 100%;
  margin: 0;
  font-family: 'Arial', sans-serif;
  background-image: url('assets/background.png'); /* Make sure this path is correct */
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

#root {
  display: flex;
  flex-direction: column;
}

main {
  flex-grow: 1; /* If you're using flexbox in #root, this will make main take up all available space */
  display: flex; /* If you want to center your cards horizontally */
  justify-content: center; /* Centers content horizontally */
  align-items: flex-start; /* Aligns content to the top */
  flex-wrap: wrap; /* Allows multiple cards to wrap onto the next line */
  padding: 1rem; /* Give some space around the content */
}

/* Style your NavBar if needed */
nav {
  background: rgba(0, 0, 0, 0.8);
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav a {
  color: white;
  text-decoration: none;
  margin: 0 1rem;
}

nav a:hover {
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 5px;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #000; 
  color: white;
  text-align: center;
  padding: 1rem 0;
}

.product-list {
  display: grid;
  grid-template-columns: 1fr; /* Una sola columna para dispositivos móviles */
  grid-gap: 1rem; /* Esto añade espacio entre las tarjetas */
  padding: 1rem; /* Esto añade espacio dentro del contenedor alrededor de las tarjetas */
}

/* Media query para tablets y pantallas de tamaño mediano: dos columnas */
@media (min-width: 600px) {
  .product-list {
    grid-template-columns: repeat(2, 1fr); /* Dos columnas para pantallas medianas */
  }
}

/* Media query para escritorios y pantallas grandes */
@media (min-width: 1024px) {
  .product-list {
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr)); /* Columnas ajustables para pantallas grandes */
    justify-content: center; /* Esto centrará los elementos de la cuadrícula (tarjetas) en el contenedor si no llenan todo el ancho */
  }
}
